<div>
  <span class="material-icons" id="infoIcon">
    info
    </span>
    Da click sobre una sociedad para obtener más información. 
</div>
<div class="groups-list-container">
  <table mat-table [dataSource]="data" class="groups-list-table">

    <!-- Mobile Column -->
    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef>Sociedad</th>
      <td mat-cell *matCellDef="let group" (click)="doSomething(group.gid)">
        <span class="mobile-name"><span [ngStyle]="{'color': group.color, 'font-weight': '700'}">{{group.gid}}</span>{{' - '+group.name}}</span>
      </td>
    </ng-container>

    <!-- Gid Column -->
    <ng-container matColumnDef="gid">
      <th mat-header-cell *matHeaderCellDef>Sociedad</th>
      <td mat-cell *matCellDef="let group" [ngStyle]="{'color': group.color, 'font-weight': '700'}" (click)="doSomething(group.gid)"
      class="hoverGroup">{{group.gid}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre largo</th>
      <td mat-cell *matCellDef="let group" (click)="doSomething(group.gid)" class="hoverGroup">{{group.name}}</td>
    </ng-container>

    <!-- Majors Column -->
    <ng-container matColumnDef="majors">
      <th mat-header-cell *matHeaderCellDef>Carreras</th>
      <td mat-cell *matCellDef="let group" (click)="doSomething(group.gid)">{{group.majors}}</td>
    </ng-container>

    <!-- Toggle Column -->
    <ng-container matColumnDef="toggle">
      <th mat-header-cell *matHeaderCellDef>Suscripción</th>
      <td mat-cell *matCellDef="let group">
        <mat-slide-toggle
          [checked]="group.subscribed"
          (change)="toggleSubscription($event, group)"
        ></mat-slide-toggle>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let group; columns: columns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="3">No se encontraron sociedades</td>
    </tr>
  </table>
</div>
