.registration-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 100%;
  max-width: 100%;
  scroll-behavior: auto;
  margin: auto;
}

.form-element {
  width: 90%;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.modelo-radios {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-bottom: 1.34375em;
}
.margin-radio {
  margin: 0 auto;
}
