<form class="registration-form-container"
      [formGroup]="userForm"
      (ngSubmit)="onSubmit()"
>
  <h1 class="form-element">Registro de usuario</h1>

  <mat-form-field class="form-element">
    <mat-label>Correo* (read-only)</mat-label>
    <input matInput readonly formControlName="email">
  </mat-form-field>

  <mat-form-field class="form-element" *ngIf="data.userData.matricula">
    <mat-label>Matricula* (read-only)</mat-label>
    <input matInput readonly formControlName="matricula">
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-element">
    <mat-label>Nombre(s)*</mat-label>
    <input matInput formControlName="fName">
    <mat-error
      *ngIf="userForm.get('fName').hasError('required')"
    >This field is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-element">
    <mat-label>Apellidos(s)*</mat-label>
    <input matInput formControlName="lName">
    <mat-error
      *ngIf="userForm.get('lName').hasError('required')"
    >This field is required</mat-error>
  </mat-form-field>

  <mat-radio-group class="modelo-radios" formControlName="model" *ngIf="data.userData.matricula" class="form-element">
    <mat-radio-button class="margin-radio" value="Tec20">Tec20</mat-radio-button>
    <mat-radio-button class="margin-radio" value="Tec21">Tec21</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="fill" *ngIf="data.userData.matricula" class="form-element">
    <mat-label>Carrera*</mat-label>
    <mat-select formControlName="major">
      <mat-option *ngFor="let major of getMajorsList(userForm.get('model').value)"
                  [value]="major"
      >{{major}}</mat-option>
    </mat-select>
    <mat-error
      *ngIf="userForm.get('major').hasError('required')"
    >This field is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="data.userData.matricula" class="form-element">
    <mat-label>Semestre*</mat-label>
    <input matInput formControlName="semester" type="number">
    <mat-error
      *ngIf="userForm.get('semester').hasError('required')"
    >This field is required</mat-error>
  </mat-form-field>

  <div class="form-buttons form-element">
    <button mat-raised-button color="accent" type="submit">Guardar</button>
  </div>
</form>
