.event-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 350px;
  max-width: 100vw;
  margin: auto;
  padding: 20px 0;
}

.btn-follow {
  position: absolute;
  top: 3px;
  right: 3px;
  color: #FFEB3B;
}

.btn-back {
  position: absolute;
  top: 3px;
  left: 3px;
  color: #636363;
}
