<!--<mat-toolbar [ngStyle]="{ 'background-color': areaColor }" id="displayGroup">-->
<mat-toolbar [ngStyle]="{'background-color': 'rgb(134, 134, 134)'}" id="displayGroup">
  <button mat-icon-button class="btn-back" (click)="location.back()"><mat-icon>arrow_back_ios</mat-icon></button>
  <span class="example-fill-remaining-space"> </span>
  <span class="displayLogos">
    <div class="logos">{{(groupSummary)? groupSummary.gid : ''}}</div>
  </span>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>



<div class="background-event">
  <div class="event-container">

    <div class="title-container">
      <h2>{{groupSummary ? groupSummary.name: ''}} </h2>
     </div>

    <div class="sidenav-grid bottom" >
      <span class="name-container">
        <mat-icon>group</mat-icon>
        <span>{{groupSummary ? groupSummary.majorsTec21: '' }},{{groupSummary ? groupSummary.majorsTec20: '' }}</span>
      </span>
      <span class="fb-container">
        <mat-icon>facebook</mat-icon>
        <a target="_blank"  href="{{groupSummary ?  groupSummary.facebook: '' }}">{{groupSummary ?  groupSummary.facebook: '' }}</a>
      </span>
      <span class="ig-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/csapp2020-8620b.appspot.com/o/assets%2FinstaIcon%20(2).jpg?alt=media&token=4146b7ca-a102-4a8f-ab98-4ef823173eb3" alt="instagram" />
        <a target="_blank"  href="{{groupSummary ?  groupSummary.instagram: '' }}">{{groupSummary ?  groupSummary.instagram: '' }}</a>
      </span>
      <span class="tw-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/csapp2020-8620b.appspot.com/o/assets%2FtwitterIcon%20(2).jpg?alt=media&token=e7959f37-8ae6-4a73-b094-9f540dff410e" alt="Twitter" />
        <a target="_blank"  href="{{groupSummary ?  groupSummary.twitter: '' }}">{{groupSummary ?  groupSummary.twitter: '' }}</a>
      </span>
      <span class="web-container">
        <mat-icon>language</mat-icon>
        <a target="_blank" href="{{groupSummary ?  groupSummary.webPage: ''}}">{{groupSummary ?  groupSummary.webPage: '' }}</a>
      </span>

    </div>
  </div>


</div>
