<mat-toolbar [ngStyle]="{ 'background-color': areaColor }" id="displayGroup">
  <button mat-icon-button class="btn-back" (click)="location.back()"><mat-icon>arrow_back_ios</mat-icon></button>
  <span class="example-fill-remaining-space"> </span>
  <span class="displayLogos"> </span>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>



<div class="background-event">
  <div class="event-container">

    <div class="title-container">
      <h2>{{group ? group.name: ''}} </h2>
     </div>
    
    <div class="sidenav-grid bottom" >
      <span class="name-container">
        <mat-icon>group</mat-icon>
        <span>{{group ? group.majorsTec21: '' }},{{group ? group.majorsTec20: '' }}</span>
      </span>
      <span class="fb-container">
        <mat-icon>facebook</mat-icon>
        <span>{{group ?  group.facebook: '' }}</span>
      </span>
      <span class="fb-container">
        <mat-icon>facebook</mat-icon>
        <span>{{group ?  group.facebook: '' }}</span>
      </span>
     
    </div>
  </div>


</div>
