.login-container {
  display: -webkit-flex;
  display: flex;
  width: 90%;
  height: 100%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-area {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/csapp2020-8620b.appspot.com/o/assets%2Fsignin-area-bcknd.png?alt=media&token=1eba0d76-c90e-4af1-98e0-b44887723b38), linear-gradient(135deg,#f8c235,#e9a82f,#d68b26);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-bottom: 7vh;
  width: 350px;
  height: 350px;
  max-width: 80vw;
  max-height: 80vw;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.signin-area > .info {
  margin: 40px 0;
  text-align: center;
  color: black;
}

.sigin-google {
  box-sizing: content-box;
  height: 50px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
  background-color: #4285f4;
  height: 14.5%;
  margin-bottom: 22.5%;
  border: none;
  border-radius: 4px;
}
.google-icon {
  background-image: url(../../../assets/google_logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.sigin-google > .google-icon {
  display: inline-block;
  box-sizing: border-box;
  background-size: 20px;
  height: 100%;
  width: 50px;
  border: none;
}
.sigin-google > .signin-text {
  display: inline-block;
  box-sizing: border-box;
  font-family: Roboto, HelveticaNeueW01-55Roma, HelveticaNeueW02-55Roma, HelveticaNeueW10-55Roma, sans-serif;
  letter-spacing: .21px;
  line-height: 48px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin: 0 10px;
  vertical-align: top;
  height: 100%;
  width: calc(100% - 70px);
}

.counter {
  margin-bottom: 13px;
}

.counter > * {
  vertical-align: top;
  line-height: 40px;
}

.counter-number {
  float: left;
  height: 40px;
  width: 40px;
  background-color: #20124d;
  color: white;
  text-align: center;
  border-radius: 10%;
}

.counter-text {
  text-align: left;
  margin-left: 10px
}

/* For desktop: */
@media only screen and (min-width: 600px) {

}
