<div class="login-container">
  <div mat-elevation-z4 class="signin-area">
    <h1>¿Qué pongo aquí?</h1>
    <div class="info">
      Si eres alumno del Tec, ingresa con tu correo institucional para acceder a beneficios extras
    </div>
    <button matRipple mat-elevation-z1 class="sigin-google mat-elevation-z4">
      <div class="google-icon"></div>
      <span class="signin-text">Continuar con Google</span>
    </button>
  </div>
  <div class="counters-area">
    <div class="counter">
      <div class="counter-number">17</div>
      <span class="counter-text">Alumnos del Tec registrados</span>
    </div>
    <div class="counter">
      <div class="counter-number">5</div>
      <span class="counter-text">Usuarios ingresaron esta semana</span>
    </div>
  </div>
</div>
