<mat-sidenav-container>

  <!--Material Sidenav-->
  <mat-sidenav
    [mode]="(onMobile | async).matches? 'over' : 'side'"
    [opened]="!(onMobile | async).matches"
    class="app-sidenav" #drawer
  >
    <div class="sidenav-grid top">
      <span><mat-icon>calendar_today</mat-icon><span>Mes</span></span>
      <span><mat-icon>view_week</mat-icon><span>Semana</span></span>
      <span><mat-icon>view_day</mat-icon><span>Día</span></span>
    </div>
    <div class="sidenav-grid bottom" >
      <span *ngIf="auth.isLoggedIn()"
            (click)="auth.signOut()"
      ><mat-icon>meeting_room</mat-icon><span>Salir</span></span>
      <span *ngIf="!auth.isLoggedIn()"
            routerLink="/login"
      ><mat-icon>login</mat-icon><span>Acceder</span></span>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="main-window">
    <!--Material Toolbar (main row)-->
    <mat-toolbar class="app-toolbar">
      <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
      <span class="horizontal-spacer"></span>
      <span>Logo de CSApp</span>
    </mat-toolbar>

    <!--Container for the app routes-->
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>

    <!--Material Toolbar (bottom row)-->
    <mat-toolbar-row class="app-toolbar">
      <span class="horizontal-spacer"></span>
      <button mat-icon-button (click)="null"><mat-icon>home</mat-icon></button>
      <span class="horizontal-spacer"></span>
    </mat-toolbar-row>

  </mat-sidenav-content>

</mat-sidenav-container>
