<mat-sidenav-container>

  <!--Material Sidenav-->
  <mat-sidenav
    [mode]="(onMobile | async).matches? 'over' : 'side'"
    [opened]="!(onMobile | async).matches"
    class="app-sidenav punto-180-gradient" #drawer
  >
    <div class="sidenav-grid top">
      <span matRipple [routerLink]="['calendar', 'month']" [routerLinkActive]="'activated'"><mat-icon>calendar_today</mat-icon><span>Mes</span></span>
      <span matRipple [routerLink]="['calendar', 'list']" [routerLinkActive]="'activated'"><mat-icon>view_list</mat-icon><span>Lista</span></span>
      <span matRipple [routerLink]="['calendar', 'week']" [routerLinkActive]="'activated'"><mat-icon>view_week</mat-icon><span>Semana</span></span>
    </div>
    <div class="sidenav-grid bottom" >
      <span *ngIf="(loggedIn | async)"
            matRipple
            [routerLink]="['user', 'favorite']"
            [routerLinkActive]="'activated'"
      ><mat-icon>bookmarks</mat-icon><span>Registros</span></span>
      <span *ngIf="(loggedIn | async)"
            matRipple
            [routerLink]="['user', 'subscriptions']"
            [routerLinkActive]="'activated'"
      ><mat-icon>email</mat-icon><span>Suscripciones y Perfiles</span></span>
      <span *ngFor="let gid of (administraList | async)"
            matRipple
            [routerLink]="['admin', gid]"
            [routerLinkActive]="'activated'"
      ><mat-icon>event</mat-icon><span>Eventos{{' '+gid}}</span></span>
      <span *ngIf="(isSuperadmin | async)"
            matRipple
            [routerLink]="['superadmin']"
            [routerLinkActive]="'activated'"
      ><mat-icon>admin_panel_settings</mat-icon><span>Panel de administración</span></span>
      <span *ngIf="(loggedIn | async)"
            matRipple
            (click)="auth.signout()"
      ><mat-icon>meeting_room</mat-icon><span>Salir</span></span>
      <span *ngIf="!(loggedIn | async)"
            matRipple
            [routerLink]="['login']"
            [routerLinkActive]="'activated'"
      ><mat-icon>login</mat-icon><span>Acceder</span></span>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="main-window">
    <!--Material Toolbar (main row)-->
    <mat-toolbar class="app-toolbar">
      <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
      <span class="horizontal-spacer"></span>
      <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/csapp2020-8620b.appspot.com/o/assets%2Flogo-punto.png?alt=media&token=2a4f6988-527c-45ad-812e-2373b4d9e253">
    </mat-toolbar>

    <!--Container for the app routes-->
    <div class="content-container">
      <router-outlet>

      </router-outlet>
    </div>

    <!--Material Toolbar (bottom row)-->
    <mat-toolbar-row class="app-toolbar">
      <span class="horizontal-spacer"></span>

          <button mat-icon-button  routerLink="/calendar/month" routerLinkActive="active"><mat-icon>home</mat-icon></button>
      <span class="horizontal-spacer"></span>
    </mat-toolbar-row>

  </mat-sidenav-content>

</mat-sidenav-container>
