<div class="container-info-page">
  <p class="title">
    ONE POINT es una plataforma sin fines de lucro que busca crear tejido social y mejorar la experiencia estudiantil, facilitando la difusión de eventos.
  </p>
<div class="spacer">

</div>
  <p>
    <strong>EVERYTIME:</strong> disponible 24/7, todos los días del año, aún durante la pandemia.<br>
    <strong>EVERYWHERE:</strong> Web Page + Mobile App = Progressive Web App = ONE POINT Accede desde cualquier dispositivo desde el lugar donde estés.<br>
    <strong>EVERYONE:</strong> Para todos y todas.
  </p>
  <div class="spacer">

  </div>
  <p>
    Equipo ONE POINT: 
  </p>
  <div class="imagesContainer">
    <div class="content">
      <p>Lizeth García</p>
      <p>Project Leader</p>
      <img src="https://firebasestorage.googleapis.com/v0/b/csapp2020-8620b.appspot.com/o/assets%2FLizethGarcia.png?alt=media&token=38477cad-5b75-461a-acf0-082358a60bea" 
      alt="fotoLizeth" class="imageInfo">
    <div class="spacer"></div>
  </div>
  <div class="content">
      <p>Kevin Fernández</p>
      <p>Project Leader</p>
      <img src="https://firebasestorage.googleapis.com/v0/b/csapp2020-8620b.appspot.com/o/assets%2FKevinFern%C3%A1ndez.jpeg?alt=media&token=056b68d4-fa6c-4753-9b59-7c6aed4bc926"
      alt="fotoKevin" class="imageInfo">
    <div class="spacer"></div>
  </div>
  <div class="content">
      <p>Bernardo Gutiérrez</p>
      <p>Project Leader</p>
      <img src="https://firebasestorage.googleapis.com/v0/b/csapp2020-8620b.appspot.com/o/assets%2FBernardoGutierrez.jpeg?alt=media&token=1b195aa0-3e57-4147-b7e8-681da9314bdf"
      alt="fotoKevin" class="imageInfo">
    <div class="spacer"></div>
  </div>

</div>

  <p>
    Cualquier duda, comentario o sugerencia, puedes hacérnosla llegar por medio de nuestro correo oficial (onepoint.mty@gmail.com) o de nuestra cuenta de Instagram @onepoint.mty. También puedes enviarnos la información del evento que desees compartir en ONE POINT.
  </p>

  <p>
    ****Al acceder y permanecer en la página estás aceptando nuestra Política de privacidad y uso de datos, derechos de autor y cookies.
  </p>

  <h3>Política de privacidad y uso de datos</h3>
  <p>
    La información otorgada será únicamente manejada por ONE POINT y los colaboradores que se den a conocer en comunicados y medios oficiales realizados por el Equipo de ONE POINT. ONE POINT se  compromete a darle un uso adecuado a los datos, teniendo como fin la mejora de los servicios a usuarios, clientes y colaboradores. Sin embargo, ONE POINT no garantiza la seguridad de los datos.
  </p>

  <h3>Política de derechos de autor</h3>
  <p>
    Todas las imágenes publicadas en la plataforma no pertenecen a ONE POINT y han sido recabadas por medios legales dónde han sido previamente compartidas como lo son la redes sociales.
  </p>
</div>
