
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Include the common styles for Angular Material
@include mat-core();

// Define the palletes for the custom theme
// (see https://material.io/design/color/ for available color palletes)
$OnePoint-primary: mat-palette($mat-grey, 600);
$OnePoint-accent: mat-palette($mat-yellow, 700, 600, 800);

// The warn palette is optional (defaults to red).
$OnePoint-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$OnePoint-theme: mat-light-theme($OnePoint-primary, $OnePoint-accent, $OnePoint-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($OnePoint-theme);

